.sideCont {
  position: fixed;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  min-height: 100dvh;
  z-index: 70;
  display: flex;
  justify-content: end; 
  height: 100%; 
}

.sideCard {
  width: 0px;
  transition: 400ms;
  animation-name: sideAnimation;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  padding: 20px 10px;
  border-left: 2px solid #027cfe8a;
  background-color: #1e1e1e;
  overflow-y: scroll;
}
.sideCard::-webkit-scrollbar {
  width: 1px; 
}

.sideCard::-webkit-scrollbar-track {
  background: #2e2e2e; 
  border-radius: 0px;
}

.sideCard::-webkit-scrollbar-thumb {
  background: #027cfe8a; 
  border-radius: 10px;
  transition: background 300ms;
}

.sideCard::-webkit-scrollbar-thumb:hover {
  background: #027cfe; 
}
.sideContent {
  opacity: 0;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-name: opacity;
  animation-delay: 500ms;
  animation-timing-function: ease;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sideAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 400px;
  }
}

.closeBtn {
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  border: 1.5px solid #027bfe;
  transition: 400ms;
}
.closeBtn:hover {
  background: #027bfe;
}
