.chat{
    display: flex;
    gap: 15px;
}

.sideUser {
    padding: 15px 5px 0px 20px;
    width: 20%;
    height: calc(100dvh - 52px);    
    overflow-y: auto;
    scrollbar-width:thin;
    scrollbar-color: var(--input-background) transparent;
    scroll-behavior: smooth;
}

.sideUser::-webkit-scrollbar {
    width: 2px;
}

.sideUser::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

.sideUser::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.sideUser::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sideUser h3{
    color: var(--text);
    font-family: var(--font);
    font-size: 18px;
    margin-bottom: 6px;
}
.sideUser ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
}


.sideUser ul li{
    background-color:#444444;
    width: 100%;
    color: var(--text);
    font-family: var(--font);
    font-size: 14px;
    padding: 10px 8px;
    border-radius: 4px;
    text-transform: capitalize;
    transition: 200ms;
    cursor: pointer;
}

.sideUser ul li:hover{
    outline:2px solid rgba(1, 124, 255, 0.5) ;


}

.active-user-chat-btn{
    background-color: var(--blue) !important;
    font-weight: 600;
    outline:2px solid rgba(1, 124, 255, 0.5) ;
}
.chat-area{
    flex-grow: 1;
   
}

.chat-box-start{
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 color: var(--text) ;
 font-family: var(--font);
 font-size: 24px;
   
}

.hide{
    display: none !important;
}

.chat-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    padding: 30px ;
}

.chat-container{
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    width: 90%;
    height: 70dvh;
    display: flex;
    flex-direction: column;
    border:2px solid var(--border-color) ;
    border-radius: 10px ;
    justify-content: space-between;
    overflow: hidden;
}

.messages-box{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.message-info{
    display: flex;
    align-items: center;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
    background-color: var(--background);
    padding: 8px 10px ;
}
.msg-form{
    background-color: var(--background);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px ;
    gap: 15px;
}
.msg-form input{
    outline: none;
    border: 2px solid var(--border-color);
    color: var(--text);
    font-family: var(--font);
    background-color: var(--input-background);
    font-size: 16px;
    padding: 8px 10px ;
    border-radius: 6px;
}
.text-input{
    flex-grow: 1;
 
}

.submit-input{
    max-width: 100px ;
    flex-grow: 1;
    cursor: pointer;
}

.messages{
    background-color: #2a2a2a;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 8px;
    scrollbar-width:thin;
    scrollbar-color: var(--input-background) transparent;
    scroll-behavior: smooth;
}

.message{
    color: var(--text);
    background-color: var(--background);
    width: fit-content;
    padding: 4px 8px ;
    max-width: 170px;
    border-radius: 6px;
    font-family: var(--font);
    border: 1px solid var(--background);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* .sender{
    align-self: flex-end;
} */

.msg-name{
    text-transform: capitalize;
    font-size: 10px;
    font-weight: 600;
}


@media screen and (max-width:550px){
    .chat{
        flex-direction: column;
    }
    .sideUser{
        height: auto;
        width: 100%;
        

    }
    .sideUser ul{
        flex-direction: row;
        
    }
    .sideUser ul li{
        width: auto;
    }
    .msg-form{
        padding:4px;
        flex-direction: column;
    }
    .msg-form input{
        width: 100%;
        flex-grow: 1;
    }
}